.venv
flaskr/config.py
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
static/.webassets-cache/*
.env
akasaka.key
akasaka2.key
.history/*
syuzai_image.png
csv/tenpo_master_data.csv
sercret
csv/kouyaku_df_type_2.csv
csv/pledge_202308150153.csv
.gitignore
csv/test_pledge.csv
test/scraping_halldata_to_postgres.ipynb
csv/kanto_test_halldata.csv
csv/all_erea__halldata.csv
csv/extract_halldata.csv
test/heroku_psgr_dev.ipynb
test/heroku_psgr_dev.ipynb
