.navbar-brand {
  font-family: sans-serif;
  font-weight: 1000;
  font-size: calc(3.025rem + .1vw)w;
}

body {
      font-size: calc(1.025rem + .1vw);
      background: linear-gradient(to right, rgb(248, 248, 248), rgb(248, 248, 248));
      font-family: Arial, Helvetica, sans-serif;
  }
  

.row {
  padding-right:0px !important;
  padding-left:0px !important;
  --bs-gutter-x: 0rem!important;
}

.container {
  padding-right:6px !important;
  padding-left:6px !important;
}


.table-wrap {
    overflow-x: scroll;
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
  }

.table-wrap th,
.table-wrap td {
    border: 2px solid #eee;
    padding: 4px 8px;
    word-wrap: break-word;
}

.close{
    display: none;
}

/* 日本地図DOM */
.japan_map{
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: table;
  background-color: #adf6ff;
}
/* 日本地図画像（スマホ対応用） */
.japan_map img{
  max-width: 100%;
  height: auto;
  border: 0;
  -webkit-backface-visibility: hidden;
}
/* 日本地図ボタン */
.japan_map .area_btn{
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid #333333;
  border-radius: 5px;
  background-color: #FFF;
  padding: 0.2em auto;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

/* ボタン配置（使用する日本地図画像により微調整） */
.japan_map .area_btn.area1{
  top: 30%;
  right: 0;
  width: 30%;
}
.japan_map .area_btn.area2{
  top: 58%;
  right: 11%;
  width: 13%;
}
.japan_map .area_btn.area3{
  top: 56%;
  right: 27.5%;
  width: 13%;
}
.japan_map .area_btn.area4{
  top: 65%;
  right: 44%;
  width: 13%;
}
.japan_map .area_btn.area5{
  top: 52%;
  left: 20%;
  width: 25%;
}
.japan_map .area_btn.area6{
  top: 70%;
  left: 0;
  width: 25%;
}
/* オーバーレイ */
.japan_map .area_overlay{
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #111;
  opacity: 0.5;
  cursor: pointer;
}

/* 選択前は表示を隠す */
.japan_map .pref_area{
  display: none;
}

/* 地域毎の都道府県リスト */
.japan_map .pref_list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  background-color: #FFF;
}
.japan_map .pref_list > div{
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #CCC;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 480px){
  /* スマホユーザー向けにボタン文字サイズを調整 */
  .japan_map .area_btn{
      font-size: 3vw;
  }
}

/* @media (min-width: 1400px){
  .container,.container-xxl ,.container-xl ,.container-lg, .container-md, .container-sm {
      max-width: 720px;
  }}

@media (min-width: 1200px){
  .container,.container-xl ,.container-lg, .container-md, .container-sm {
      max-width: 720px;
  }} */




@media screen and (min-width:768px){
    /*　画面サイズが768px以上の場合読み込む　*/
    .container { max-width: 720px;}
}




li{
  position: relative;
  color: #5c9ee7;
  margin-bottom:5px;
  padding-left:5px;
  line-height: 30px;
  font-size: calc(1.025rem + .1vw);
  font-weight: bold;
}

li:last-child{
  border:none;
  margin: 0;
}

li:before{
}

li:hover:before{
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
  background-position: bottom;
  color: red;
}

ul, ol a {
  color: #1e366a;
  padding: 0.5em;
}

h1,h2{
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  font-size: calc(1.025rem + .1vw);
  margin-bottom: 0px;
  font-weight: bold;
}

.design16 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design16 th {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design16 th:nth-child(1) {
  background: #fd9644;
 }
 .design16 th:nth-child(2) {
  background: #fed330;
 }
 .design16 th:nth-child(3) {
  background: #26de81;
 }

 .design16 th:nth-child(4) {
  background: #7733ff;
 }

 .design16 th:nth-child(5) {
  background: #ff5959;
 }

 .design16 th:nth-child(6) {
  background: #ff59d5;
 }

 .design16 th:nth-child(7) {
  background: #ffe659;
 }

 .design16 th:nth-child(8) {
  background: #ddffbd;
 }

 .design16 th:nth-child(9) {
  background: #ffaaaa;
 }
 .design16 td {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design16 td:nth-child(1) {
  background: #fec598;
 }
 .design16 td:nth-child(2) {
  background: #fee585;
 }
 .design16 td:nth-child(3) {
  background: #70e9ac;
 }

 .design16 td:nth-child(4) {
  background: #b48eff;
 }

 .design16 td:nth-child(5) {
  background: #ff5959;
 }

 .design16 td:nth-child(6) {
  background: #ff59d5;
 }

 .design16 td:nth-child(7) {
  background: #ffe659;
 }

 .design16 td:nth-child(8) {
  background: #ddffbd;
 }

 .design16 td:nth-child(9) {
  background: #ffaaaa;
  }

/* .design16 tr:nth-child(1) td:nth-child(2){
    background:#ff00a2;
  }   */

.design16 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design16 th {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design16 th:nth-child(1) {
  background: #fd9644;
 }
 .design16 th:nth-child(2) {
  background: #fed330;
 }
 .design16 th:nth-child(3) {
  background: #26de81;
 }

 .design16 th:nth-child(4) {
  background: #7733ff;
 }

 .design16 th:nth-child(5) {
  background: #ff5959;
 }

 .design16 th:nth-child(6) {
  background: #ff59d5;
 }

 .design16 th:nth-child(7) {
  background: #ffe659;
 }

 .design16 th:nth-child(8) {
  background: #ddffbd;
 }

 .design16 th:nth-child(9) {
  background: #ffaaaa;
 }
 .design16 td {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design16 td:nth-child(1) {
  background: #fec598;
 }
 .design16 td:nth-child(2) {
  background: #fee585;
 }
 .design16 td:nth-child(3) {
  background: #70e9ac;
 }

 .design16 td:nth-child(4) {
  background: #b48eff;
 }

 .design16 td:nth-child(5) {
  background: #ff5959;
 }

 .design16 td:nth-child(6) {
  background: #ff59d5;
 }

 .design16 td:nth-child(7) {
  background: #ffe659;
 }

 .design16 td:nth-child(8) {
  background: #ddffbd;
 }

 .design16 td:nth-child(9) {
  background: #ffaaaa;
  }

/* .design16 tr:nth-child(1) td:nth-child(2){
    background:#ff00a2;
  }   */

h3 {
  padding: 1rem 2rem;
  color: #fff;
  background: #015dac;
  background-image: radial-gradient(#0175d5 13%, transparent 13%), radial-gradient(#0175d5 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.design17 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design17 th {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design17 th:nth-child(1) {
  background: #fd9644;
 }
 .design17 th:nth-child(2) {
  background: #fed330;
 }
 .design17 th:nth-child(3) {
  background: #26de81;
 }

 .design17 th:nth-child(4) {
  background: #7733ff;
 }

 .design17 th:nth-child(5) {
  background: #ff5959;
 }

 .design17 th:nth-child(6) {
  background: #ff59d5;
 }

 .design17 th:nth-child(7) {
  background: #ffe659;
 }

 .design17 th:nth-child(8) {
  background: #ddffbd;
 }

 .design17 th:nth-child(9) {
  background: #ffaaaa;
 }
 .design17 td {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .design17 td:nth-child(1) {
  background: #fec598;
 }
 .design17 td:nth-child(2) {
  background: #fee585;
  min-width: 10em;
 }
 .design17 td:nth-child(3) {
  background: #70e9ac;
 }

 .design17 td:nth-child(4) {
  background: #b48eff;
 }

 .design17 td:nth-child(5) {
  background: #ff5959;
 }

 .design17 td:nth-child(6) {
  background: #ff59d5;
 }

 .design17 td:nth-child(7) {
  background: #ffe659;
 }

 .design17 td:nth-child(8) {
  background: #ddffbd;
 }

 .design17 td:nth-child(9) {
  background: #ffaaaa;
  }




.table-wrap {
  overflow-x: scroll;

}

table {
overflow-x: scroll;
border-collapse: collapse;
border: 1px solid #ccc;
line-height: 1.1;
text-align:center;
overflow-x: scroll;
width: 100%;
min-width: 300px;
border-collapse: collapse;
overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
table th  {
padding: 7px;
font-weight: bold;
vertical-align: top;
background: #000;
color: #fff;


  background-image: linear-gradient(to top,
		#cae6fa 0%,
		#1f48ea 100%);
}

table td {
padding: 10px;
vertical-align: top;
}
table tr:nth-child(even) {
background: #e9fcfd;
}

table > thead > tr > td,
table > thead > tr > th,
table > tr > td,
table > tr > th {
	background-color: #419acd;
}

.scroll_area{
  width:600px;
  overflow-x:scroll;
}
/* .scroll_area table{
  width:900px;
} */

.day_list {
  padding: 0;
  position: relative;
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

.wrapper {
  max-width: 800px;
  max-height: 480px;
}


#bubblechart {
  width: 100%;
  position: relative !important;
  font-family: sans-serif;
}

.gmap-css-responsive {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 120%;
}
.gmap-css-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.heatmap {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .heatmap th {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .heatmap th:nth-child(1) {
  background: #000000;
 }
 .heatmap th:nth-child(2) {
  background: #fed330;
 }
 .heatmap th:nth-child(3) {
  background: #26de81;
 }

 .heatmap th:nth-child(4) {
  background: #7733ff;
 }

 .heatmap th:nth-child(5) {
  background: #ff5959;
 }

 .heatmap th:nth-child(6) {
  background: #ff59d5;
 }

 .heatmap th:nth-child(7) {
  background: #ffe659;
 }

 .heatmap th:nth-child(8) {
  background: #ddffbd;
 }

 .heatmap th:nth-child(9) {
  background: #ffaaaa;
 }
 .heatmap td {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .heatmap td:nth-child(1) {
  background: #fec598;
 }

 .heatmap td:nth-child(4) {
  background: #fec598;
 }

 .heatmap td:nth-child(7) {
  background: #fec598;
 }

 .heatmap td:nth-child(10) {
  background: #fec598;
 }

.heatmap td:nth-child(13) {
    background: #fec598;
 }

.heatmap {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .heatmap th {
  padding: 10px;
  border: solid 1px #ffffff;
 }
 .heatmap th:nth-child(1) {
  background: #fd9644;
 }
 .heatmap th:nth-child(2) {
  background: #3094fe;
 }
 .heatmap th:nth-child(3) {
  background: #3094fe;
 }

 .heatmap th:nth-child(4) {
  background: #fd9644;
 }

 .heatmap th:nth-child(5) {
  background: #3094fe;
 }

 .heatmap th:nth-child(6) {
  background: #3094fe;
 }

 .heatmap th:nth-child(7) {
  background: #fd9644;
 }

 .heatmap th:nth-child(8) {
  background: #3094fe;
 }

 .heatmap th:nth-child(9) {
  background: #3094fe;
 }
 .heatmap th:nth-child(10) {
  background: #fd9644;
 }

 .heatmap th:nth-child(11) {
  background: #3094fe;
 }

 .heatmap th:nth-child(12) {
  background: #3094fe;
 }

 .heatmap th:nth-child(13) {
  background: #fd9644;
 }

 .heatmap th:nth-child(14) {
  background: #3094fe;
 }

 .heatmap th:nth-child(15) {
  background: #3094fe;
 }

 .heatmap td {
  padding: 10px;
  border: solid 1px #ffffff;
 }


/*３つ横並び設定*/
.top-btn{
	display: flex;
	flex-wrap:wrap;
}
.top-btn li {
	width: calc(100%/3);/*3つ並べる場合*/
	padding:0 2px;/*左右に余白を入れる場合*/
	box-sizing:border-box;
}
.top-btn li img {
	max-width:100%; /*はみだしを防ぐ*/
	height: auto; /*縦横比を維持 */
}
/*リンクボタンデザイン設定*/
.link-btn {
    text-decoration: none!important;
    justify-content: center; /*左右間で中央*/
    align-items: center;/*上下間で中央*/
    color: #fff!important;
    display: flex!important;/*画面に合わせてサイズが変わる*/
 　 flex-wrap:wrap!important;/*要素の折り返し設定*/
    font-weight: bold;
    padding: 10px 4px;
    border-radius: 10px;
    box-shadow: none;
    transition: .2s;
    
}
.link-btn:hover {
    box-shadow: none;
    transform: translateY(2px);
    opacity: .8;
}
/*ボタン色設定*/
.colorname1 {
    background: #46b5ff;
}
.colorname2 {
    background: #ffffff;
}
.colorname3 {
    background: #46b5ff;
}

/* 日曜日のカラー設定 */
td.ui-datepicker-week-end:first-child a.ui-state-default{
  background-color: #ffecec;   /* 背景色を設定 */
  color: #f00!important;       /* 文字色を設定 */
}
/* 土曜日のカラー設定 */
td.ui-datepicker-week-end:last-child a.ui-state-default{
  background-color: #eaeaff;   /* 背景色を設定 */
  color: #00f!important;       /* 文字色を設定 */
}
/* ホバー時の動作 */
td.ui-datepicker-week-end a.ui-state-hover{
  opacity: 0.8;
}
/* 当日を示す色はそのまま */
td.ui-datepicker-week-end a.ui-state-highlight{
  background-color: #fffa90!important;
}

#datepicker{
  text-align:center;
}
#datepicker{
  display:inline-block;
  margin:0 auto;
}


.navbar-light .navbar-toggler {
  border-color: rgba(0, 123, 254, 0);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.tab-area {
  display: flex;/* flexで横並び */
  border: 2px solid;
  cursor: pointer;/* カーソルポインターに */
}
.tab {
  width: calc(100%/3);/* calc関数を使用し、均等に3分割する */
  padding: 5px;
  text-align: center;/* 文字を中央に。 */
}
.tab:nth-child(n+2) {
  border-left: 2px solid;
}
.tab.active {
  background-color: #000;
  color: #fff;
}

h4 {
  position: relative;
  background: #1e00b7;
  padding: 2px 5px 2px 35px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}

h4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f135";
  display: block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  color: white;
  background: #1e00b7;
  font-weight: 900;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  left: 0em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: solid 3px white; 
  border-radius: 50%;
}

/* SNS ボタンのグループ */
.snsButtons {
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.snsButtons a {
  text-decoration: none;
}
/* 各 SNS ボタンのボックス */
.snsButtons li {
  display: inline-block;  /* 水平に並べる */
  list-style-type: none;  /* 先頭のポッチを消す */
  margin: 2px;
  padding: 6px 0px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  opacity: 0.7;
}
/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  min-width: 40px;
  margin: 0px;
  padding: 0px 0px 3px 0px;
  vertical-align: bottom;
}
/* テキスト部分 */
.snsButtons_label {
  min-width: 80px;
  display: inline-block;
  padding: 0px 8px 0px 0px;
  text-align: center;
  font-size: 12pt;
}
/* 各 SNS のブランドカラー */
.snsButtons_twitter  { background: #1da1f2; }
.snsButtons_pworld { background: #ca0000; }
.snsButtons_line   { background: #009100; }
.snsButtons_dmm   { background: #000000; }
.snsButtons_slomap   { background: rgb(0, 110, 255); }


.heading-008 {
  display: inline-block;
  position: relative;
  padding: .5em .7em;
  border-radius: 50px 0 0 50px;
  background-color: #256eff;
  color: #fff;
}

.heading-008::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 13px;
  border-radius: 50%;
  background: #fff;
}


#prefecture-btn-link {
  justify-content: center; /*左右間で中央*/
  align-items: center;/*上下間で中央*/
  color: #fff!important;

}


/* 3カラム */
*, *:before, *:after {
	box-sizing: border-box;
}
.col_3{
	width: 100%;
	display: flex;
	display: -ms-flexbox; /* IE10 */
	flex-wrap: wrap;
	-ms-flex-wrap: wrap; /* IE10 */
text-align: center; /* 内容は中央配置 */
}
.col_3 > div{
	width: 33.33333%;
	padding: 10px;
  border: solid 2px #FFF;
  border-radius: 10px;
  background-color: #46b5ff;
}
@media screen and (max-width: 1090px) {
	.col_3 > div{
		width: 50%;
    border: solid 2px #FFF;
    border-radius: 10px;
    background-color: #46b5ff;
	}
}
@media screen and (max-width: 380px) {
	.col_3 > div{
		width: 100%;
    border: solid 2px #FFF;
    border-radius: 10px;
    background-color: #46b5ff;
	}
}


#mystyle {
  border-spacing: 0px;
  border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  border-bottom: 0px solid;
}

#mystyle th, td {
  border-spacing: 0px;
  padding: 5px;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
  margin: 0px;
}

#mystyle thead, th:first-child {
  background-color: #90b4d6;
  text-shadow: -1px -1px 1px #666666;
}

#mystyle thead th{
  color:white;
  text-align: center;
  border-bottom: 2px solid #547ca0;
  letter-spacing: 0.15em;
}
#mystyle th:first-child {
  color:white;
  text-align: right;
}

#mystyle td {
  text-align: right;
}

#mystyle tr:nth-child(even) {
  background: #E0E0E0;
}

#mystyle thead tr th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;}

#mystyle thead tr th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;}  


  .toc-002 {
    margin-bottom: 5px;
    border: 2px solid #2589d0;
    border-radius: 3px;
}

.toc-002 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px 0;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
}

.toc-002 div::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M3.8%2017.2h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.8-.8-.8zm0-15h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8V3c-.1-.4-.4-.8-.8-.8zm0%207.6h-3c-.5%200-.8.3-.8.7v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.7-.8-.7zM23.2%2018h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8zm0-15h-15c-.4%200-.7.3-.7.8v1.5c0%20.4.3.7.7.7h15c.5%200%20.8-.3.8-.8V3.8c0-.5-.3-.8-.8-.8zm0%207.5h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8z%22%2F%3E%3C%2Fsvg%3E');
    content: '';
}

.toc-002 ol {
    list-style-type: decimal;
    margin: 0;
    overflow: hidden;
}

.toc-002 > ul, ol a {
    padding: 0em !important ;
    
}

.toc-002 ol ol {
    margin-top: 1px;
    padding-left: 1.1em;
}

.toc-002 li {
    font-weight: 600;
    line-height: 25px!important;
}

.toc-002 ol ol li {
    font-weight: 500;
    font-size: .9em;
    margin-bottom: 0px !important;
}

.toc-002 a {
    color: #333;
}

.heading-011 {

    position: relative;
    color: white;
    background: #004fb6;
    line-height: 1.4;
    padding: 0.5em 0.5em 0.5em 1.8em;
  }

.heading-011:before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    font-weight: 900;
    position: absolute;
    left : 0.5em; /*左端からのアイコンまでの距離*/
  }

.kisyu_001 {
    position: relative;
    color: rgb(255, 255, 255);
    background: #1a69e3;
    line-height: 1.4;
    padding: 0.25em 0.5em;
    margin: 0em;
    border-radius: 0 5px 5px 5px;
  }
  
.kisyu_001:after {
    /*タブ*/
    position: absolute;
    font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
    font-weight: 900;
    content: '\f00c Check';
    background: #2196F3;
    color: #fff;
    left: 0px;
    bottom: 100%;
    border-radius: 5px 5px 0 0;
    padding: 3px 7px 1px;
    font-size: 0.7em;
    line-height: 1;
    letter-spacing: 0.05em
  }

  .qa-001 {
    max-width: 100%;
    margin-bottom: 7px;
    border: 1px solid #d6dde3;
    border-radius: 5px;
    margin-inline: auto
}

.qa-001 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em 1em 3em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.qa-001 summary::before,
.qa-001 p::before {
    position: absolute;
    left: 1em;
    font-weight: 600;
    font-size: 1.3em;
}

.qa-001 summary::before {
    color: #75bbff;
    content: "Q";
}

.qa-001 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .5s;
}

.qa-001[open] summary::after {
    transform: rotate(225deg);
}

.qa-001 p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 3em 1.5em;
    color: #333;
    transition: transform .5s, opacity .5s;
}

.qa-001[open] p {
    transform: none;
    opacity: 1;
}

.qa-001 p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: "A";
}

.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    position: fixed;
    z-index: 9999;

}
.page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;

}
.page-top a:hover {
    text-decoration: none;
    background: #999;

}


.radio-003 {
  border: none;
  padding: inherit;
}

.radio-003 label {
  display: flex;
  align-items: center;
  gap: 0 .5em;
  position: relative;
  max-width: 400px;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  margin: auto;
  padding: .5em .7em;
  border: 1px solid #2589d0;
  border-radius: 3px;
  background-color: #2589d026;
  cursor: pointer;
}

.radio-003 label:has(:checked) {
  background-color: #2589d0;
  color: #fff;
}

.radio-003 label::before,
.radio-003 label:has(:checked)::after {
  border-radius: 50%;
  content: '';
}

.radio-003 label::before {
  width: 14px;
  height: 14px;
  background-color: #fff;
}


.radio-003 label:has(:checked)::after {
  position: absolute;
  top: 50%;
  left: calc(7px + .7em);
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #2589d0;
}

.radio-003 input {
  display: none;
}

/* form-nav */

.progressbar {
  display: flex;
  flex-wrap: wrap;
}
.progressbar .item {
    position: relative;
    width: 33%;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    line-height: 1.5;
    background: #F5F5F5;
    color: #999999;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 100%;
    content: '';
    border: 37px solid transparent;
    border-left: 20px solid #F5F5F5;
    margin: auto;
}
.progressbar .item:not(:last-child)::before {
    margin-left: 1px;
    border-left-color: #FFF;
}

@media screen and (max-width: 767px) {
.progressbar .item {
    font-size: 11px;
    line-height: 1.4;
    padding: 10px 0;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    border-width: 25px;
    border-left-width: 12px;
}
}

/* active */

.progressbar .item.active {
    z-index: 1;
    background: #0070BD;
    color: #FFF;
}
.progressbar .item.active:not(:last-child)::after {
    border-left-color: #0070bd;
}
.progressbar .item.active:not(:last-child)::before {
    border-left: none;
}

@media screen and (max-width: 340px) {
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
}
}


.info {
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 600px;
  height: 16em;
  margin: 0 auto;
  overflow-y: scroll
}

@media (min-width:768px) {
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap
  }
}

.info dd,
.info dt {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: .5em;
  padding-left: .5em
}

.info dt {
  font-style: normal;
  font-weight: initial
}

@media (min-width:768px) {
  .info dt {
    width: 12.5em;
    margin-bottom: .5em;
    border-bottom: 1px dotted #343a40
  }
}

.info dt:first-of-type {
  padding-top: .5em;
  border-top: 1px dotted #343a40
}

.info dt time {
  margin-right: .5em
}

.info dt span {
  box-sizing: border-box;
  display: inline-block;
  width: 7em;
  margin-right: .5em;
  padding: 0 .5em;
  background-color: #009688;
  color: #fff;
  font-size: .8em;
  line-height: 1.75;
  text-align: center
}

.info time {
  color: #adb5bd
}

.info dd {
  margin-left: 0;
  margin-bottom: .5em;
  border-bottom: 1px dotted #343a40
}

@media (min-width:768px) {
  .info dd {
    width: calc(100% - 12.5em)
  }
  .info dd:first-of-type {
    padding-top: .5em;
    border-top: 1px dotted #343a40
  }
}

.info dd:nth-of-type(-n+3) {
  position: relative
}


.box-007 {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #ffb36b;
  border-radius: 5px;
  color: #333333;
}

.box-007 div {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -13px;
  left: 10px;
  margin: 0 7px;
  padding: 0 8px;
  background: #fff;
  color: #ffb36b;
  font-weight: 600;
  vertical-align: top;
}

.box-007 svg {
  padding-right: 4px;
}

.box-007 p {
  margin: 0;
  padding: 0 1.5em 1em;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.2rem 1rem!important;
}

.button-060 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  margin: 0 auto;
  padding: .9em 1em;
  border: none;
  border-radius: 5px;
  background-color: #2589d0;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  width: 100%;
}

.button-060:hover {
  background-color: #1579c0;
}

.button-060::after {
  width: 1em;
  height: 1em;
  margin-left: 10px;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202.1-3.7%202.1-6%200-5.4-4.4-9.7-9.7-9.7S0%204.4%200%209.8s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2.1v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
  content: '';
}

.button-014,
.button-014 span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-014 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

.button-014::before {
    position: absolute;
    top: 7px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: inherit;
    box-sizing: inherit;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .2);
    background-color: #007acf;
    content: '';
}

.button-014 span {
    width: 100%;
    padding: .4em .1em;
    border: 2px solid #000;
    border-radius: inherit;
    background-color: #00aaff;
    color: #000;
    font-weight: 600;
    line-height: 1.5;
}

.button-014 span::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    content: '';
}

.button-014:hover::before {
    transition: box-shadow .2s;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
}

.button-014:hover span {
    transition: transform .2s;
    transform: translateY(2px);
}
