.navbar-brand {
  font-family:  "Arial Black", sans-serif;
  font-size: 1.5rem;
}


table {
  width: 100%; /* テーブルの横幅を指定する */
  }
  table th, table td {
  padding: 10px; /* セルの余白を指定する(上下左右) */
  border: 1px solid #666; /* セルの境界線を実線で指定する */
  }
  table th {
  background-color: #AAA; /* ボックスの背景色を指定する */
  width: 30%; /* テーブルの見出しの横幅を指定する */
  text-align: center; /* セル内のテキストの位置を指定（真ん中）する */
  }

  @media only screen and (max-width:480px){
  table {
  margin: 10px 5px; /* テーブルの余白を指定する */
  }
  table th, table td {
  width: 90%; /* テーブルの見出しの横幅を指定する */
  display: block; /* ブロックレベル要素化する */
  border-top: 1px solid #666; /* セルの境界線を実線で指定する */
  }
  }

ul li {
    list-style: none;
    cursor:pointer;
}

.close{
    display: none;
}