<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container  ">
      <!-- Grid row -->
      <div class="row">
            <!-- Grid column -->
            <div class="col-12  text-center ">
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/">HOME</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/engineer_poly">Twitter</a>
                    </li>
                    <li>
                        <a href="/">プライバシーポリシー</a>
                    </li>
                    <li>
                        <a href="/form">お問い合わせ</a>
                    </li>
                </ul>
            </div>

      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/">スロマップ</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->