<div class="mt-4 col-12 text-center ">
    <footer class="footer-001">
        <a href="/">
            <img src="/static/img/icon.png" loading="lazy" width="50" height="50" alt="スロマップ" class="footer-001__logo" lazy>
        </a>
        <nav>
            <ul class="d-flex flex-column flex-md-row footer-001__list">
                <div><li><a href="/" class="footer-001__link">HOME</a></li></div>
                <div><li><a href="/tomorrow-recommend" class="footer-001__link">マップから取材のある店舗を探す</a></li></div>
                <div><li><a href="/serch-recommend-prefecture-day" class="footer-001__link">過去差枚データからお勧め店舗・機種を探す</a></li></div>
                <div><li><a href="/profile" class="footer-001__link">プロフィール</a></li></div>
                <div><li><a href="/privacy_policy" class="footer-001__link">プライバシーポリシー</a></li></div>
                <div><li><a href="/form" class="footer-001__link">お問い合わせ</a></li></div>
            </ul>
        </nav>
        <p class="footer-001__copyright">@ 2023 スロマップ All rights reserved.</p>
    </footer>
</div>

