{% extends 'bootstrap/base.html' %}

{% block head %}
<title>フォーム</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<h1>プロフィールの入力</h1>
<form action="{{ url_for('print_values') }}" method="post">
  <div>
    <label for="user-name">名前</label>
    <input type="text" id="user-name" name="name" required>
  </div>
  <div>
    <label for="user-age">年齢</label>
    <input type="number" id="user-age" name="age" min="0" max="100" required>
  </div>
  <div>
    <span>性別</span>
    <input type="radio" id="gender_choice1" name="gender" value="male">
    <label for="gender_choice1">男性</label>

    <input type="radio" id="gender_choice2" name="gender" value="female">
    <label for="gender_choice2">女性</label>

    <input type="radio" id="gender_choice3" name="gender" value="another" checked>
    <label for="gender_choice3">その他</label>
  </div>
  <div class="e-mail">
    <label for="email">e-mail</label>
    <input type="email" id="email" name="e-mail" required>
  </div>
  <div>
    <label for="message">メッセージ</label><br>
    <textarea name="msg" id="message" cols="50" rows="10" maxlength="200" placeholder="ひと言どうぞ！"></textarea>
  </div>
  <button>送信</button>
</form>
{% endblock %}