<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand text-white ">
      <img src="/static/img/icon.png" width="50" height="50" alt="icon"> SloMap
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tomorrow-recommend">取材予定一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/recommend">Nの日お勧め機種分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/form">問い合わせ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



