{% extends "base.html" %}
{% block head %}
<title>{{ data.title }} マップで見えるパチンコ・スロット取材予定</title>
{% endblock %}
{% block content %}
<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-lg-8'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">HOME</a></li>
                  <li class="breadcrumb-item"><a href="/post_prefecture_list/{{data.pref_name_en}}">{{data.pref_name_jp}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{data.target_day}}</li>
                </ol>
            </nav>
            <a href="/post_prefecture_list/{{data.pref_name_en}}"><button class="button-060">{{data.pref_name_jp}}のほかの日を探す</button></a>
            <h1 class="heading-011 mt-4">{{ data.title }}</h1>
            <div class= my-2>
                <img src={{ data.thumbnail_url }} class="thumbnail" alt="thumbnail" width="100%">
            </div>
            <h2 class="heading-011 mt-4">{{ data.title }} 位置マップ</h1>
            <iframe class="embed-responsive-item" scrolling="no" height="450" width="100%" src={{ data.iframe|safe }}</iframe>
            {{data.write_html | safe}}
        </div>
    </div>
</div>
{% endblock %}