{% extends "base.html" %}

{% block head %}
<title>検索結果マップ表示</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>検索結果マップ表示(※タップで地図を動かせます)</h1>
        <div class="gmap-css-responsive">
          <iframe src={{ iframe|safe }} frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    <div class="col-md-12">
      <div>
          <h2>入力されたデータ</h2>
          <h3>都道府県：{{ user_data['prefecture'] }}</h3>
          <h3>日付：{{ jpn_target_day }}</h3>
      </div>
      <table class='design16'>
        <thead>
          <tr>
            {% for col in column_names %}
            <th>
              {{col}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in row_data %}
          <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}