{% extends "base.html" %}

{% block head %}
<title>検索結果マップ表示 マップで見えるパチンコ・スロット取材予定</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <h1>検索結果マップ表示(※タップで地図を動かせます)</h1>
      <iframe class="col-md-12", src={{ iframe|safe }}</iframe></div>
    <div class="col-md-12">
      <div>
        <div class="heading-008 my-2 ">入力されたデータ</div>
          <h3>都道府県：{{ data['prefecture'] }}</h3>
          <h3>日付：{{ jpn_target_day }}</h3>
      </div>
      <table class='design16'>
        <thead>
          <tr>
            {% for col in column_names %}
            <th>
              {{col}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in row_data %}
          <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}