{% extends "base.html" %}

{% block head %}
<title>検索結果マップ表示</title>
{% endblock %}

{% block content %}
<h1>マップ表示</h1>
{{ iframe|safe }}
<div>
    <h2>入力されたデータ</h2>
    <h3>都道府県；{{ user_data['prefecture'] }}</h3>
    <h3>日付：{{ jpn_target_day }}</h3>
</div>
<table class='design16'>
    <thead>
      <tr>
        {% for col in column_names %}
        <th>
          {{col}}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in row_data %}
      <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
</tbody>
</table>
{% endblock %}