{% extends "base.html" %}

{% block head %}
<title>明日のおすすめ店舗過去3回分析 結果画面</title>
{% endblock %}



{% block content %}
<div class ='container'>
    <div class="row">
        <div class="col-12">
            <h1>分析結果</h1>
            <div>
                <p>比較するデータは{{ user_data['tenpo-name'] }}の</p>
                    {% for date in target_day_list_jp %}
                    <ul class = 'day_list '>{{ date }}</ul>
                    {% endfor %}
                <p>{{serch_number}}回分データを今回集計しました。</p>
            </div>
        </div>
        <div class="col-12">
            <canvas id="canvas"></canvas>
        </div>

        <div class="col-12">
            <div class="scroll_area" style="width:100%;max-width:700px;overflow-x:scroll;">
                <table style="width:100%;">
                    {{samai_table|safe}}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1><p>{{ user_data['tenpo-name'] }}<br>直近過去{{serch_number}}回合計分で最も出ていたお勧め機種TOP10</p></h1>
            <div class="heading-008 my-2 ">※合計{{serch_number}}回分(バラは除く)</div>
            <div class="heading-008 my-2 ">✅お勧め機種はここで確認しよう</div>
            <div class='design16 .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
                    <table style="width:100%;">
                        {{groupby_kisyu_table|safe}}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>お勧め機種総差枚バブルチャート</h1>
            <div class="heading-008 my-2 ">✅どの機種に大きな出玉配分があるか可視化</div>
            <div class="canvas-container">
                <canvas id="bubblechart"></canvas>
            </div>
            <h1>ヒートマップ並び傾向分析</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="heading-008 my-2 ">✅6台並びやどの場所に入るか傾向があるか確認！</div>
            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="heatmap_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in heatmap_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in heatmap_row_data %}
                            <tr>
                                {% for col, row_ in zip(heatmap_column_names, row) %}
                                <td>{{row_}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>日別機種別差枚順過去{{serch_number}}回合計データTOP30</h1>
            <div class="heading-008 my-2 ">全台系はここから見ると👍</div>
            <div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
                <table class='design17' style="width:100%;">
                    <thead>
                        <tr>
                        {% for col in column_names %}
                        <th>
                            {{col}}
                        </th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in row_data %}
                        <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td>{{row_}}</td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                <h1>日別機種別差枚順データTOP30</h1>
                <div class="heading-008 my-2 ">日毎のデータはここでチェック</div>
                {% for day_df , date in zip(display_day_df_list,target_day_list_jp) %}
                <ul class = 'day_list '>{{ date }}</ul>
                <div class='design16 .table-wrap'>
                    <div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
                    <table style="width:100%;">
                        {{day_df|safe}}
                    </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script>
window.onload = function() {
  ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: complexChartOption
    });
  };
  var complexChartOption = {
  responsive: true,
  scales: {
      yAxes: [{
          id: "y-axis-1",
          type: "linear", 
          position: "left",
          ticks: {
              max: 0.2,
              min: 0,
              stepSize: 0.1
          },
      }, {
          id: "y-axis-2",
          type: "linear", 
          position: "right",
          ticks: {
              max: 1.5,
              min: 0,
              stepSize: .5
          },
          gridLines: {
              drawOnChartArea: false, 
          },
      }],
  }
};
</script>
<script>
var barChartData = {
    labels: {{ target_day_list_jp|safe }},
    datasets: [
    {
        type: 'line',
        label: '平均差枚',
        data: {{ samai_list|safe }},
        borderColor : "rgba(254,97,132,0.8)",
                pointBackgroundColor    : "rgba(254,97,132,0.8)",
                fill: false,
        yAxisID: "y-axis-1",// 追加
        borderWidth: 2,
        pointHoverRadius: 2,
        pointBackgroundColor: "rgba(254,97,132,0.8)",

    },
    {
        type: 'bar',
        label: '平均G数',
        data: {{ gamesuu_list| safe}},
        borderColor : "rgba(54,164,235,0.8)",
        backgroundColor : "rgba(54,164,235,0.5)",
        yAxisID: "y-axis-2",
    },],
};
</script>

<script>
var complexChartOption = {
    responsive: true,
    scales: {
      
        yAxes: [{
            id: "y-axis-1",
            type: "linear", 
            position: "left",
            ticks: {
                max: 700,
                min: -300,
                stepSize: 100,
                fontSize: 13,
                callback: function(value, index, values) {
                  return '平均' + value + '枚';}
            },
        }, {
            id: "y-axis-2",
            type: "linear", 
            position: "right",
            ticks: {
                max: 6000,
                min: 1000,
                stepSize: 1000,
                fontSize: 13,
                callback: function(value, index, values) {
                  return  value + 'G';}
            },
            gridLines: {
                drawOnChartArea: false, 
                borderWidth: 3,
            },
        }],
    }
};
</script>
<script>
$(function(){
// バブルチャートのデータ
var bubleChartData = {
    datasets: [
    {% for index, row in output_bubble_chart_df.iterrows() %}
        {
            data: [{"x":{{ row['平均G数']  }} ,"y":{{ row['平均差枚'] }}, "r":{{ (row['合計差枚'] * bubble_chart_division_calc_num) + 17 }}} ,],
            // 色（2個目）
            {% autoescape false %}
            backgroundColor:["{{ row['color'] }}"],
            {% endautoescape %}
            // ラベル（2個目）
            {% autoescape false %}
            label: ["{{ row['機種名'] }}"]  
            {% endautoescape %}
        },
    {% endfor %}
    ]};

// オプション
var bubble_chart_options = {
        layout: {
        font: {
            size: 13,
            weight: 'bold'
        },
        padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
            }
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: {             // 凡例の設定
        position: "bottom",     // 表示位置
        labels: {              // 凡例文字列の設定
            fontSize: 10,
        }
        },
        // タイトル

        tooltips: {
        callbacks: {
            label: function(t, d) {
                var rLabel = d.datasets[t.datasetIndex].data[t.index].r;
                return d.datasets[t.datasetIndex].label + '\n'
                + '平均' + t.xLabel + 'G 平差' + t.yLabel + '枚 総差' + ( (rLabel /{{bubble_chart_division_calc_num}} /10000)).toFixed(1) + '万枚';
            }
        }
        },
            // 平均G数
        scales: {
            x: {
                ticks: {
                padding:10,    // 個別設定不可
                stepSize: 1000,
                font: {
                    size: 13,
                },
                showLabelBackdrop: true,
                backdropPadding: { x: 1, y: 2 },
                major: {
                    enabled: true,
                },
                align: 'center',
                crossAlign: 'center',
                sampleSize: 24,
                callback: function(label, index, labels) {
                    return '平均' + value + '枚';}
                },
                title: {
                display: true,
                text: '平均G数',
                padding: {
                    top: 0,    // 右側
                    bottom: 0  // 左側
                },
                font: {
                    size: 13,
                    weight: 'bold'
                },
                color: '#000'},

            },
            y: {
            title: {
                display: true,
                text: '平均差枚',
                padding: {
                top: 0,    // 右側
                bottom: 0  // 左側
                },
                font: {
                size: 13,
                weight: 'bold'
                },
                color: '#000'},
            // 最小値・最大値
            // 目盛ラベル
            ticks: {
                padding: 15,    // 個別設定不可
                stepSize: 1000,
                font: {
                size: 13,
                weight: 'bold'
                },
                showLabelBackdrop: true,
                backdropPadding: { x: 4, y: 2 },
                major: {
                enabled: true,
                },
                align: 'center',
                crossAlign: 'center',
                sampleSize: 24,
                callback: function(label, index, labels) {
                return label + '枚';
                }
            },

            },
        },
};

// コンテキストのオブジェクト

var ctx = $("#bubblechart")[0].getContext("2d");
// バブルチャートの描画
$(function () {
    var container = $('.canvas-container');
    var ctx= $('#bubblechart');
    ctx.attr('width', container.width());
    ctx.attr('height', 500);
});
var bubbleChart = new Chart(ctx, 
        {
            type: 'bubble',
            data: bubleChartData,
            options: bubble_chart_options
        });
});
Chart.defaults.global.defaultFontFamily = "sans-serif";
Chart.defaults.global.defaultFontSize = 13;



</script>

<script>
$(document).ready(function(){
    $("#heatmap_table").DataTable({
        "language":{url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/ja.json",},
            // 件数切替機能 無効
        lengthChange: false,
        // 検索機能 無効
        searching: true,
        // ソート機能 無効
        ordering: true,
        // 情報表示 無効
        info: true,
        // ページング機能 無効
        paging: false,
        // 初期表示の並び替えなし
        order: [],
        // 横スクロールバーを有効にする (scrollXはtrueかfalseで有効無効を切り替えます)
        scrollX: true,
        // 縦スクロールバーを有効にする (scrollYは200, "200px"など「最大の高さ」を指定します)
        scrollY: 500,

        columnDefs: [
        // 2列目(0から始まるため1になっています)の幅を100pxにする
        { targets: [0,3,6], width: 150 }
    ]


    });
});



$(document).ready(function() {
    // 配列内の最大値を取得する関数
    Array.max = function(array) {
        return Math.max.apply(Math, array);
    };
    // すべての値を取得
    var counts = $('.heatmap td:nth-child(2)').map(function() {
        return parseInt($(this).text());
    }).get();
    // 最大値を返す
    var plus_max = 5000;
    var minus_max =-3000;
    // 色を指定する
    xr = 255;
    xg = 255;
    xb = 255;
    
    minnus_yr = 255;
    minnus_yg = 0;
    minnus_yb = 0;

    plus_yr = 0;
    plus_yg = 0;
    plus_yb = 255;

    yr = 255;
    yg = 255;
    yb = 0;
    
    n = 100;
    // 各データポイントをループして、その％の値を計算する
    $('.heatmap td:nth-child(3)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        if (val > 0) {
            var pos = parseInt((Math.round((val / plus_max) * 100)).toFixed(0));
            red = parseInt((xr + ((pos * (plus_yr - xr)) / (n - 1))).toFixed(0));
            green = parseInt((xg + ((pos * (plus_yg - xg)) / (n - 1))).toFixed(0));
            blue = parseInt((xb + ((pos * (plus_yb - xb)) / (n - 1))).toFixed(0));
            clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
            if (val > 3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        } else {
            var pos = parseInt((val / minus_max) * 100).toFixed(0);
            green = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            blue = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            clr = 'rgb(' + 255 + ',' + green + ',' + blue + ')';
            console.log(clr);
            if (val < -3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        }
    });
    $('.heatmap td:nth-child(6)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        if (val > 0) {
            var pos = parseInt((Math.round((val / plus_max) * 100)).toFixed(0));
            red = parseInt((xr + ((pos * (plus_yr - xr)) / (n - 1))).toFixed(0));
            green = parseInt((xg + ((pos * (plus_yg - xg)) / (n - 1))).toFixed(0));
            blue = parseInt((xb + ((pos * (plus_yb - xb)) / (n - 1))).toFixed(0));
            clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
            if (val > 3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        } else {
            var pos = parseInt((val / minus_max) * 100).toFixed(0);
            green = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            blue = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            clr = 'rgb(' + 255 + ',' + green + ',' + blue + ')';
            console.log(clr);
            if (val < -3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        }
    });
    $('.heatmap td:nth-child(9)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        if (val > 0) {
            var pos = parseInt((Math.round((val / plus_max) * 100)).toFixed(0));
            red = parseInt((xr + ((pos * (plus_yr - xr)) / (n - 1))).toFixed(0));
            green = parseInt((xg + ((pos * (plus_yg - xg)) / (n - 1))).toFixed(0));
            blue = parseInt((xb + ((pos * (plus_yb - xb)) / (n - 1))).toFixed(0));
            clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
            if (val > 3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        } else {
            var pos = parseInt((val / minus_max) * 100).toFixed(0);
            green = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            blue = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            clr = 'rgb(' + 255 + ',' + green + ',' + blue + ')';
            console.log(clr);
            if (val < -3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        }
    });
    $('.heatmap td:nth-child(12)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        if (val > 0) {
            var pos = parseInt((Math.round((val / plus_max) * 100)).toFixed(0));
            red = parseInt((xr + ((pos * (plus_yr - xr)) / (n - 1))).toFixed(0));
            green = parseInt((xg + ((pos * (plus_yg - xg)) / (n - 1))).toFixed(0));
            blue = parseInt((xb + ((pos * (plus_yb - xb)) / (n - 1))).toFixed(0));
            clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
            if (val > 3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        } else {
            var pos = parseInt((val / minus_max) * 100).toFixed(0);
            green = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            blue = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            clr = 'rgb(' + 255 + ',' + green + ',' + blue + ')';
            console.log(clr);
            if (val < -3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        }
    });
    $('.heatmap td:nth-child(15)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        if (val > 0) {
            var pos = parseInt((Math.round((val / plus_max) * 100)).toFixed(0));
            red = parseInt((xr + ((pos * (plus_yr - xr)) / (n - 1))).toFixed(0));
            green = parseInt((xg + ((pos * (plus_yg - xg)) / (n - 1))).toFixed(0));
            blue = parseInt((xb + ((pos * (plus_yb - xb)) / (n - 1))).toFixed(0));
            clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
            if (val > 3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        } else {
            var pos = parseInt((val / minus_max) * 100).toFixed(0);
            green = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            blue = parseInt((minnus_yr + ((pos * (0 - minnus_yr)) / 100))).toFixed(0);
            clr = 'rgb(' + 255 + ',' + green + ',' + blue + ')';
            console.log(clr);
            if (val < -3000) {
                $(this).css({
                    backgroundColor: clr,
                    color: 'white',
                    fontWeight: 'bold'
                });
            } else {
                $(this).css({
                    backgroundColor: clr
                });
            }
        }
    });
    xr = 255;
    xg = 255;
    xb = 255;

    yr = 0;
    yg = 0;
    yb = 255;

    $('.heatmap td:nth-child(2)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        var max = 8000;
        var pos = parseInt((Math.round((val / max) * 100)).toFixed(0));
        red = parseInt((xr + ((pos * (yr - xr)) / (n - 1))).toFixed(0));
        green = parseInt((xg + ((pos * (yg - xg)) / (n - 1))).toFixed(0));
        blue = parseInt((xb + ((pos * (yb - xb)) / (n - 1))).toFixed(0));
        clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
        if (val > 6000) {
            $(this).css({
                backgroundColor: clr,
                color: 'white',
                fontWeight: 'bold'
            });
        } else {
            $(this).css({
                backgroundColor: clr
            });
        }
    });
    $('.heatmap td:nth-child(5)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        var max = 10000;
        var pos = parseInt((Math.round((val / max) * 100)).toFixed(0));
        red = parseInt((xr + ((pos * (yr - xr)) / (n - 1))).toFixed(0));
        green = parseInt((xg + ((pos * (yg - xg)) / (n - 1))).toFixed(0));
        blue = parseInt((xb + ((pos * (yb - xb)) / (n - 1))).toFixed(0));
        clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
        if (val > 6000) {
            $(this).css({
                backgroundColor: clr,
                color: 'white',
                fontWeight: 'bold'
            });
        } else {
            $(this).css({
                backgroundColor: clr
            });
        }
    });
    $('.heatmap td:nth-child(8)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        var max = 8000;
        var pos = parseInt((Math.round((val / max) * 100)).toFixed(0));
        red = parseInt((xr + ((pos * (yr - xr)) / (n - 1))).toFixed(0));
        green = parseInt((xg + ((pos * (yg - xg)) / (n - 1))).toFixed(0));
        blue = parseInt((xb + ((pos * (yb - xb)) / (n - 1))).toFixed(0));
        clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
        if (val > 6000) {
            $(this).css({
                backgroundColor: clr,
                color: 'white',
                fontWeight: 'bold'
            });
        } else {
            $(this).css({
                backgroundColor: clr
            });
        }
    });
    $('.heatmap td:nth-child(11)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        var max = 8000;
        var pos = parseInt((Math.round((val / max) * 100)).toFixed(0));
        red = parseInt((xr + ((pos * (yr - xr)) / (n - 1))).toFixed(0));
        green = parseInt((xg + ((pos * (yg - xg)) / (n - 1))).toFixed(0));
        blue = parseInt((xb + ((pos * (yb - xb)) / (n - 1))).toFixed(0));
        clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
        if (val > 6000) {
            $(this).css({
                backgroundColor: clr,
                color: 'white',
                fontWeight: 'bold'
            });
        } else {
            $(this).css({
                backgroundColor: clr
            });
        }
    });
    $('.heatmap td:nth-child(14)').each(function() {
        var val = parseInt($(this).text());
        console.log(val);
        var max = 8000;
        var pos = parseInt((Math.round((val / max) * 100)).toFixed(0));
        red = parseInt((xr + ((pos * (yr - xr)) / (n - 1))).toFixed(0));
        green = parseInt((xg + ((pos * (yg - xg)) / (n - 1))).toFixed(0));
        blue = parseInt((xb + ((pos * (yb - xb)) / (n - 1))).toFixed(0));
        clr = 'rgb(' + red + ',' + green + ',' + blue + ')';
        if (val > 6000) {
            $(this).css({
                backgroundColor: clr,
                color: 'white',
                fontWeight: 'bold'
            });
        } else {
            $(this).css({
                backgroundColor: clr
            });
        }
    });
});
</script>

{% endblock %}