{% extends "base.html" %}

{% block head %}
<title>明日のおすすめ店舗過去3回分析 入力画面</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class='row'>
    <div class='col-12'>
      
      <h1>明日のおすすめ店舗過去N回分析</h1>
        <form action="{{url_for("target_date_recommend_report")}}" method="post">
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">店舗名</span>
            <input type="text" id="tenpo-name" name="hall-name" value="{{hall_name}}" required>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <div id="multidatepicker"></div>
            <input type="text" id="altField" name="target-date">
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-secondary" type="submit">検索</button>
          </div>
          <div class="d-grid gap-2 col-10 mx-auto text-center">
            <p>※検索に10秒ほどかかります。</p>
          </div>
        </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.css" rel="stylesheet"/>
<link href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet"/>
<script src="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script>
  $( document ).ready(function() {
    $('#multidatepicker').multiDatesPicker(
      {
        dateFormat: 'yy/mm/dd',
        minDate: -90,
        maxDate: -1,
        altField: '#altField',
        maxPicks: 3,

      })
  });
</script>


{% endblock %}

{% block footer %}
{% endblock %}