{% extends "base.html" %}

{% block head %}
<title>データの出力</title>
{% endblock %}



{% block content %}
<div class ='container'>
    <div class="row">
      <div class="col-12">
        <h1>{{data['target_number']}}のつく日の直近{{serch_number}}回分 分析結果</h1>
        <div>
          <h2>行きたい日付： {{ user_data['recommend-day'] }}</h2>
            <br><h2>比較した日付</h2>
          <p>比較するデータは{{ user_data['tenpo-name'] }}の</p>
            {% for date in target_day_list_jp %}
              <ul class = 'day_list '>{{ date }}</ul>
            {% endfor %}
          <p>　の{{data['target_number']}}のつく日の直近{{serch_number}}回分データを今回集計しました。</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <canvas id="canvas"></canvas>
    </div>

    <div class="col-12">
      <div class="scroll_area" style="width:100%;max-width:700px;overflow-x:scroll;">
        <table style="width:100%;">
          {{samai_table|safe}}
        </table>
      </div>
    </div>
  </div>
</div>

<script>

window.onload = function() {
  ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: complexChartOption
    });
  };
  var complexChartOption = {
  responsive: true,
  scales: {
      yAxes: [{
          id: "y-axis-1",
          type: "linear", 
          position: "left",
          ticks: {
              max: 0.2,
              min: 0,
              stepSize: 0.1
          },
      }, {
          id: "y-axis-2",
          type: "linear", 
          position: "right",
          ticks: {
              max: 1.5,
              min: 0,
              stepSize: .5
          },
          gridLines: {
              drawOnChartArea: false, 
          },
      }],
  }
};
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>


  

<script>
var barChartData = {
    labels: {{ target_day_list_jp|safe }},
    datasets: [
    {
        type: 'line',
        label: '平均差枚',
        data: {{ samai_list|safe }},
        borderColor : "rgba(254,97,132,0.8)",
                pointBackgroundColor    : "rgba(254,97,132,0.8)",
                fill: false,
        yAxisID: "y-axis-1",// 追加
        borderWidth: 5,
        pointHoverRadius: 8,
        pointBackgroundColor: "rgba(254,97,132,0.8)",

    },
    {
        type: 'bar',
        label: '平均G数',
        data: {{ gamesuu_list| safe}},
        borderColor : "rgba(54,164,235,0.8)",
        backgroundColor : "rgba(54,164,235,0.5)",
        yAxisID: "y-axis-2",
    },],
};
</script>

<script>
var complexChartOption = {
    responsive: true,
    scales: {
      
        yAxes: [{
            id: "y-axis-1",
            type: "linear", 
            position: "left",
            ticks: {
                max: 700,
                min: -300,
                stepSize: 100,
                fontSize: 10,
                callback: function(value, index, values) {
                  return '平均' + value + '枚';}
            },
        }, {
            id: "y-axis-2",
            type: "linear", 
            position: "right",
            ticks: {
                max: 6000,
                min: 1000,
                stepSize: 1000,
                fontSize: 10,
                callback: function(value, index, values) {
                  return  value + 'G';}
            },
            gridLines: {
                drawOnChartArea: false, 
                borderWidth: 3,
            },
        }],
    }

};
element.style.width = '400px';
element.style.height = '600px';
</script>



<h1><p>{{ user_data['tenpo-name'] }}  {{data['target_number']}}のつく日<br>直近過去{{serch_number}}回合計分で最も出ていたお勧め機種TOP10</p></h1>
<h2>※バラエティ機種は除く</h2>
<h2>※合計{{serch_number}}回分の合計データです</h2>
<div class='design16 .table-wrap'>
  <div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
    <table style="width:100%;">
  {{groupby_kisyu_table|safe}}
    </table>
  </div>
</div>

<script>
  
  $(function(){
    // バブルチャートのデータ
    var bubleChartData = {
        datasets: [
        {% for index, row in output_bubble_chart_df.iterrows() %}
            {
              data: [{"x":{{ row['平均G数']  }} ,"y":{{ row['平均差枚'] }}, "r":{{ row['合計差枚'] /750}}} ,],
              // 色（2個目）
              {% autoescape false %}
                backgroundColor:["{{ row['color'] }}"],
              {% endautoescape %}
              // ラベル（2個目）
              {% autoescape false %}
                label: ["{{ row['機種名'] }}"]  
              {% endautoescape %}
            },
        {% endfor %}
        ]};

    // オプション
    var bubble_chart_options = {
          layout: {
            font: {
                size: 30,
                weight: 'bold'
            },
            padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
              }
            },
          responsive: true,
          maintainAspectRatio: true,
          legend: {             // 凡例の設定
            position: "bottom",     // 表示位置
            labels: {              // 凡例文字列の設定
                fontSize: 22,
            }
          },
          // タイトル

          tooltips: {
            callbacks: {
               label: function(t, d) {
                  var rLabel = d.datasets[t.datasetIndex].data[t.index].r;
                  return d.datasets[t.datasetIndex].label + 
                         ': (平均:' + t.xLabel + 'G 平均差枚:' + t.yLabel + '枚 総差枚:' + rLabel.toFixed(1) + '万枚';
               }
            }
          },
              // 平均G数
          scales: {
              x: {
                  ticks: {
                    padding:10,    // 個別設定不可
                    stepSize: 1000,
                    font: {
                      size: 30,
                    },
                    showLabelBackdrop: true,
                    backdropPadding: { x: 1, y: 2 },
                    major: {
                      enabled: true,
                    },
                    align: 'center',
                    crossAlign: 'center',
                    sampleSize: 24,
                    callback: function(label, index, labels) {
                      return label + 'G';
                  }
                  },
                  title: {
                    display: true,
                    text: '平均G数',
                    padding: {
                      top: 0,    // 右側
                      bottom: 0  // 左側
                    },
                    font: {
                      size: 14,
                      weight: 'bold'
                    },
                    color: '#000'},
 
              },
              y: {
                title: {
                  display: true,
                  text: '平均差枚',
                  padding: {
                    top: 0,    // 右側
                    bottom: 0  // 左側
                  },
                  font: {
                    size: 14,
                    weight: 'bold'
                  },
                  color: '#000'},
                // 最小値・最大値
                // 目盛ラベル
                ticks: {
                  padding: 15,    // 個別設定不可
                  stepSize: 1000,
                  font: {
                    size: 24,
                    weight: 'bold'
                  },
                  showLabelBackdrop: true,
                  backdropPadding: { x: 4, y: 2 },
                  major: {
                    enabled: true,
                  },
                  align: 'center',
                  crossAlign: 'center',
                  sampleSize: 24,
                  callback: function(label, index, labels) {
                    return label + '枚';
                  }
                },

              },
          },
    };

    // コンテキストのオブジェクト
    
    var ctx = $("#bubblechart")[0].getContext("2d");
    // バブルチャートの描画
    var bubbleChart = new Chart(ctx, 
            {
               type: 'bubble',
               data: bubleChartData,
               options: bubble_chart_options
            });
  });
  Chart.defaults.global.defaultFontFamily = "sans-serif";
  Chart.defaults.global.defaultFontSize = 28;

  </script>
 
<h1>お勧め機種総差枚バブルチャート</h1>
<h2>このグラフでどの機種に出玉の配分があるかがすぐ分かります</h2>
<canvas id="bubblechart"></canvas>



<h1>日別機種別差枚順過去{{serch_number}}回合計データTOP30</h1>
<h2>全台系はここから見ると👍</h2>
<div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
  <table class='design17' style="width:100%;">
      <thead>
        <tr>
          {% for col in column_names %}
          <th>
            {{col}}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in row_data %}
        <tr>
          {% for col, row_ in zip(column_names, row) %}
          <td>{{row_}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
</div>
<h1>日別機種別差枚順データTOP30</h1>
<h2>日毎のデータはここでチェック</h2>
{% for day_df , date in zip(display_day_df_list,target_day_list_jp) %}
  <ul class = 'day_list '>{{ date }}</ul>
  <div class='design16 .table-wrap'>
    <div class="scroll_area" style="width:100%;max-width:1000px;overflow-x:scroll;">
      <table style="width:100%;">
        {{day_df|safe}}
      </table>
    </div>
  </div>
{% endfor %}



{% endblock %}