{% extends "base.html" %}
{% block content %}
  <!--アコーディオンメニュー部分 start-->
  <nav id="accordion">
    <ul>
      <li><span>▼東京都</span>
        <ul class="close">
          <li><span>▼マルハン</span>
            <ul class="close">
              <li><a href="#">・マルハン新宿東宝ビル店</a></li>
              <li><a href="#">・マルハン鹿浜店</a></li>
            </ul>
          </li>
          <li><span>▼ピーアーク</span>
            <ul class="close">
              <li><a href="#">・ピーくんガーデン</a></li>
              <li><a href="#">・ピーくんガーデン北綾瀬</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <!--2階層アコーディオン end-->
      <li><a href="#">menu3</a></li>
    </ul>
  </nav>
  <!--アコーディオンメニュー部分 end-->
</header>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}


