{% extends "base.html" %}
{% block head %}
<title>{{data.syuzai_name}} 公約 マップで見えるパチンコ・スロット取材予定</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class='row justify-content-center'>
        <div class='col-lg-8 text-center'>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">HOME</a></li>
                  <li class="breadcrumb-item"><a href="/tomorrow-recommend/{{data.area_name}}">{{data.area_name_jp}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/tomorrow_recommend/{{data.area_name}}/syuzai/{{data.syuzai_name}}">{{data.syuzai_name}}</a></li>
                </ol>
            </nav>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7061697582316562" crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-7061697582316562"
                data-ad-slot="6299027261"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="mx-auto">
                <h1 class="fw-light">{{data.syuzai_name}} </h1>
                <h2 class="heading-28">{{data.media_name}}</h2>
                {% if data.pledge_text == '未調査' %}
                <div class="box-013 my-2">
                    <span>公約不明</span>
                    <p>公約未調査になります。<br>もしご存じの方いましたら<a href="https://twitter.com/slo_map">XのDM</a>もしくは<a href="/form">お問い合わせ</a>からご報告いただけますと新機能の開発がその分早く進みますのでご協力よろしくお願いします。</p>
                </div>
                {% else %}
                <div class="box-013 my-2">
                    <span>公約</span>
                    <p>{{data.pledge_text}}</p>
                </div>
                <div class="box-004">
                    <p>公約内容が違う場合、薄い場合等は<a href="https://twitter.com/slo_map">XのDM</a>もしくは<a href="/form">お問い合わせ</a>からご報告いただけますと新機能の開発がその分早く進みますのでご協力よろしくお願いします。</p>
                </div>
                {% endif %}
            </div>
            <iframe class="embed-responsive-item" scrolling="no" height="450" width="100%" src={{ data.iframe|safe }}</iframe>
            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <h4 class="my-2">取材予定(※直近一週間分表示中)</h4>
                    <table id="hall_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in data.future_extract_syuzai_name_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.future_extract_syuzai_name_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.future_extract_syuzai_name_df_column_names, row) %}
                                    {% if col == '取材名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/syuzai/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '店舗名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/hall/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '媒体名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/media/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <h4 class="my-2">過去取材(※過去一か月分表示中)</h4>
            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="past_hall_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in data.past_extract_syuzai_name_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.past_extract_syuzai_name_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.past_extract_syuzai_name_df_column_names, row) %}
                                    {% if col == '取材名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/syuzai/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '店舗名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/hall/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '媒体名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/media/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css">  <!-- テーマcupertinoを選択 -->\
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
	$(function() {
		$.datepicker.setDefaults($.datepicker.regional["ja"]);
		$("#input1").datepicker({
            minDate: new Date(),
            maxDate: '+6d',
            dateFormat: 'yy-mm-dd',
        });
	});

    $(function() {
        $('#datepicker').datepicker({
            minDate: new Date(),
            maxDate: '+6d',
            dateFormat: 'yy-mm-dd',
        }).css({
            'margin': 'auto',
            'padding': 'auto',
            });
    });
</script>
{% endblock %}