{% extends "base.html" %}

{% block head %}
<title>{{data.area_name_jp}} マップで見えるパチンコ・スロット取材予定</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12 ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">HOME</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/tomorrow-recommend/{{data.area_name}}">{{data.area_name_jp}}</a></li>
                </ol>
            </nav>
        </div>
        <h1>{{data.area_name_jp}}のパチンコ・スロット取材予定</h1>
        <div class="row">
            <div class="col-12 text-center">
                <div class="mx-auto" style="width: 200px;">
                    <div class="heading-008 my-2 ">都道府県から探す</div>
                </div>
                <div class="col_3">
                    {%for prefecture_name in data.prefecture_name_list%}
                        <div><a href="{{ url_for('tomorrow_recommend_area_prefecture_prefecturename',area_name=data.area_name,prefecture_name=prefecture_name) }}" id="prefecture-btn-link">{{prefecture_name}}</a></div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto" style="width: 200px;">
                    <div class="heading-008 my-2 ">{{data.date}}日付から探す</div>
                </div>
                
                <div class="input-group-append">
                    <form action="{{ url_for('tomorrow_recommend_area',area_name=data.area_name) }}" method="POST">
                        <input type="text" id="date_pick" name="date" readonly="readonly" value="{{data.date}}" class="form-control" placeholder="日付を選択" aria-label="日付を選択" aria-describedby="basic-addon2">
                        <button class="btn btn-outline-secondary" type="submit" formmethod="POST">検索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="mx-auto" style="width: 200px;">
                <div class="heading-008 my-2 ">媒体名から探す</div>
            </div>

            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="media_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in data.groupby_media_name_count_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.groupby_media_name_count_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.groupby_media_name_count_df_column_names, row) %}
                                    {% if col == '媒体名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/media/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="mx-auto" style="width: 200px;">
                <div class="heading-008 my-2 ">店舗名から探す</div>
            </div>
            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="hall_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in data.groupby_hall_name_count_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.groupby_hall_name_count_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.groupby_hall_name_count_df_column_names, row) %}
                                    {% if col == '店舗名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/hall/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css">  <!-- テーマcupertinoを選択 -->\
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

{% endblock %}
