{% extends "base.html" %}

{% block head %}
<title>明日のお勧め{{data.area_name}}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12 ">
            <h1>明日のお勧め{{data.area_name}}</h1>
            <div class="mx-auto" style="width: 200px;">
                <h2 >{{data.date}}日付から探す</h2>
            </div>
            <div id="datepicker"></div>
            <div class="input-group-append">
                <p>※調整中</p>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">検索</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="mx-auto" style="width: 200px;">
                <h2>媒体名から探す</h2>
            </div>

            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="media_table" class="table table-striped">
                        <thead>
                            <tr>
                                {% for col in data.groupby_media_name_count_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.groupby_media_name_count_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.groupby_media_name_count_df_column_names, row) %}
                                    {% if col == '媒体名' %}
                                        <td><a href="/tomorrow_recommend/{{data.area_name}}/media/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css">  <!-- テーマcupertinoを選択 -->\
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
    $("#media_table").DataTable({
        "language":{url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/ja.json",},
            // 件数切替機能 無効
        lengthChange: false,
        // 検索機能 無効
        searching: true,
        // ソート機能 無効
        ordering: true,
        // 情報表示 無効
        info: true,
        // ページング機能 無効
        paging: false,
        // 初期表示の並び替えなし
        order: [],
    });
});
</script>
<script>
	$(function() {
		$.datepicker.setDefaults($.datepicker.regional["ja"]);
		$("#input1").datepicker({
            minDate: new Date(),
            maxDate: '+6d',
            dateFormat: 'yy-mm-dd',
        });
	});

    $(function() {
        $('#datepicker').datepicker({
            minDate: new Date(),
            maxDate: '+6d',
            dateFormat: 'yy-mm-dd',
        }).css({
            'margin': 'auto',
            'padding': 'auto',
            });
    });


</script>    
{% endblock %}
