{% extends "base.html" %}
{% block content %}
<h2>都道府県から行きたい日の取材予定を地図で探す</h2>
<form action="" method="post">
    <p>検索したい都道府県を選択：</p>
        <select class="form-select form-select-lg mb-2" 　aria-label="Default select example" name="prefecture">
            <option selected>東京都</option>
            {% for prefecture in prefecture_list %}
                <option value="{{ prefecture }}">{{ prefecture }}</option>
            {% endfor %}
        </select>

    <p>検索したい日付を選択：</p>
    <select class="form-select form-select-lg mb-2" 　aria-label="Default select example"　name="recommend-day">
      {% for target_day in date_list %}
        <option value="{{ target_day }}">{{ target_day }}</option>
      {% endfor %}
    </select>

    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">送信</button>
    </div>
</form>
  
<h2>地図から行きたい店舗のお勧め機種を探す</h2>
<div class="japan_map">
    <img src="../static/img/japanmap.png" width="1100" height="1000" alt="日本地図">
    <span class="area_btn area1" data-area="1">北海道・東北</span>
    <span class="area_btn area2" data-area="2">関東</span>
    <span class="area_btn area3" data-area="3">中部</span>
    <span class="area_btn area4" data-area="4">近畿</span>
    <span class="area_btn area5" data-area="5">中国・四国</span>
    <span class="area_btn area6" data-area="6">九州・沖縄</span>
    
    <div class="area_overlay"></div>
    <div class="pref_area">
        <div class="pref_list" data-list="1">
            <div data-id="1">北海道</div>
            <div data-id="2">青森県</div>
            <div data-id="3">岩手県</div>
            <div data-id="4">宮城県</div>
            <div data-id="5">秋田県</div>
            <div data-id="6">山形県</div>
            <div data-id="7">福島県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="2">
            <div data-id="茨城県">茨城県</div>
            <div data-id="栃木県">栃木県</div>
            <div data-id="群馬県">群馬県</div>
            <div data-id="埼玉県">埼玉県</div>
            <div data-id="千葉県">千葉県</div>
            <div data-id="東京都">東京都</div>
            <div data-id="神奈川県">神奈川県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="3">
            <div data-id="15">新潟県</div>
            <div data-id="16">富山県</div>
            <div data-id="17">石川県</div>
            <div data-id="18">福井県</div>
            <div data-id="19">山梨県</div>
            <div data-id="20">長野県</div>
            <div data-id="21">岐阜県</div>
            <div data-id="22">静岡県</div>
            <div data-id="23">愛知県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="4">
            <div data-id="24">三重県</div>
            <div data-id="25">滋賀県</div>
            <div data-id="26">京都府</div>
            <div data-id="27">大阪府</div>
            <div data-id="28">兵庫県</div>
            <div data-id="29">奈良県</div>
            <div data-id="30">和歌山県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="5">
            <div data-id="31">鳥取県</div>
            <div data-id="32">島根県</div>
            <div data-id="33">岡山県</div>
            <div data-id="34">広島県</div>
            <div data-id="35">山口県</div>
            <div data-id="36">徳島県</div>
            <div data-id="37">香川県</div>
            <div data-id="38">愛媛県</div>
            <div data-id="39">高知県</div>
            <div></div>
        </div>
        
        <div class="pref_list" data-list="6">
            <div data-id="40">福岡県</div>
            <div data-id="41">佐賀県</div>
            <div data-id="42">長崎県</div>
            <div data-id="43">熊本県</div>
            <div data-id="44">大分県</div>
            <div data-id="45">宮崎県</div>
            <div data-id="46">鹿児島県</div>
            <div data-id="47">沖縄県</div>
        </div>
    </div>
</div>



{% endblock %}