{% extends "base.html" %}
{% block head %}
<title>スロマップ TOP </title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="column col-lg-9">
            <dl class="info">
                <dt><span>新台追加</span><time class="text-danger">2024.05.20</time></dt>
                <dd >番長4,エウレカ4など機種から探すに新機種を追加しました</dd>
                <dt><span>機能追加</span><time>2024.04.07</time></dt>
                <dd >都道府県別ページで機種から選ぶ機能を追加しました</dd>
                <dt><span>表示改善</span><time>2024.03.14</time></dt>
                <dd>表示のベースをエリア別から都道府県別に見やすいようにUIを修正しました</dd>
                <dt><span>表示改善</span><time>2024.01.21</time></dt>
                <dd>取材名ページに公約が表示される機能を追加しました</dd>
                <dt><span>表示改善</span><time>2023.12.30</time></dt>
                <dd>店舗ページからグーグルマップでも見れるようにしました</dd>
                <dt><span>新機能追加</span><time>2023.12.10</time></dt>
                <dd>都道府県別の過去差枚実績から明日のお勧め店舗記事を追加しました</dd>
                <dt><span>新機能追加</span><time>2023.11.17</time></dt>
                <dd>TOPページにお知らせ機能を追加しました</dd>
                <dt><span>表示改善</span><time>2023.10.15</time></dt>
                <dd>マップのポップアップから店舗ページに行けるように修正しました</dd>
                <dt><span>お知らせ</span><time>2023.7.28</time></dt>
                <dd>スロマップをオープンしました</dd>
            </dl>
            <h2 class="heading-17 my-2 ">
                <span>01</span>
                都道府県から色々を探す
            </h2>
            <div class='col-12 my-1'>
                <div class="japan_map">
                    <img src="../static/img/japanmap.png" height="100%" width="100%" alt="日本地図">
                    <span class="area_btn area1" data-area="1">北海道・東北</span>
                    <span class="area_btn area2" data-area="2">関東</span>
                    <span class="area_btn area3" data-area="3">中部</span>
                    <span class="area_btn area4" data-area="4">近畿</span>
                    <span class="area_btn area5" data-area="5">中国・四国</span>
                    <span class="area_btn area6" data-area="6">九州・沖縄</span>
                    <div class="area_overlay"></div>
                    <div class="pref_area">
                        <div class="pref_list" data-list="1">
                            <div data-id="hokkaido">北海道</div>
                            <div data-id="aomori">青森県</div>
                            <div data-id="iwate">岩手県</div>
                            <div data-id="miyagi">宮城県</div>
                            <div data-id="akita">秋田県</div>
                            <div data-id="yamagata">山形県</div>
                            <div data-id="fukushima">福島県</div>
                            <div></div>
                        </div>

                        <div class="pref_list" data-list="2">
                            <div data-id="ibaraki">茨城県</div>
                            <div data-id="tochigi">栃木県</div>
                            <div data-id="gunma">群馬県</div>
                            <div data-id="saitama">埼玉県</div>
                            <div data-id="chiba">千葉県</div>
                            <div data-id="tokyo">東京都</div>
                            <div data-id="kanagawa">神奈川県</div>
                            <div></div>
                        </div>

                        <div class="pref_list" data-list="3">
                            <div data-id="">新潟県</div>
                            <div data-id="">富山県</div>
                            <div data-id="">石川県</div>
                            <div data-id="fukui">福井県</div>
                            <div data-id="yamanashi">山梨県</div>
                            <div data-id="nagano">長野県</div>
                            <div data-id="gifu">岐阜県</div>
                            <div data-id="shizuoka">静岡県</div>
                            <div data-id="aichi">愛知県</div>
                            <div></div>
                        </div>

                        <div class="pref_list" data-list="4">
                            <div data-id="mie">三重県</div>
                            <div data-id="shiga">滋賀県</div>
                            <div data-id="kyoto">京都府</div>
                            <div data-id="osaka">大阪府</div>
                            <div data-id="hyogo">兵庫県</div>
                            <div data-id="nara">奈良県</div>
                            <div data-id="wakayama">和歌山県</div>
                            <div></div>
                        </div>
                        
                        <div class="pref_list" data-list="5">
                            <div data-id="tottori">鳥取県</div>
                            <div data-id="shimane">島根県</div>
                            <div data-id="okayama">岡山県</div>
                            <div data-id="hiroshima">広島県</div>
                            <div data-id="yamaguchi">山口県</div>
                            <div data-id="tokushima">徳島県</div>
                            <div data-id="kagawa">香川県</div>
                            <div data-id="ehime">愛媛県</div>
                            <div data-id="kochi">高知県</div>
                            <div></div>
                        </div>
                        
                        <div class="pref_list" data-list="6">
                            <div data-id="fukuoka">福岡県</div>
                            <div data-id="saga">佐賀県</div>
                            <div data-id="nagasaki">長崎県</div>
                            <div data-id="kumamoto">熊本県</div>
                            <div data-id="oita">大分県</div>
                            <div data-id="miyazaki">宮崎県</div>
                            <div data-id="kagoshima">鹿児島県</div>
                            <div data-id="okinawa">沖縄県</div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="heading-17">
                <span>02</span>
                スロマップお勧め機能から探す
            </h2>
            <a href="/serch-recommend-prefecture-day"><button class="button-014 my-4">
                <div>
                    サイト初訪問者・スロット初心者にオススメ
                </div>
                <span><img src="static/img/thumbnail/thumbnail_tokyo_2023-12-29-300x200.png" loading="lazy" width="80" height="50" alt="thumbnail" class="mx-1">➀過去差枚実績から<br>お勧め店舗を探す<img src="static/img/content_image/191.jpg" loading="lazy" width="80" height="50" alt="北斗の拳" class="mx-1"></span></button>
            </a>
            <h4 data-text="">{{data.tommorow_jp_str_day}} 東京都の旧イベント日<br>過去差枚がわかる店舗をマップに表示中</h4>
            <iframe class="embed-responsive-item" loading="lazy" title="location_map" scrolling="no" height="450" width="100%" src= "{{url_for('show_iframe')}}" ></iframe>

            <h4 class="mt-3" >{{data.tommorow_jp_str_day}}の東京都日別差枚順記事</h4>
            <div class="card-group">
                <div class="card border-dark mb-1">
                    <a href="/post_prefecture/{{ data.post_slug }}" class="card-body text-dark">
                        <div class="card">
                            <img class="card-img-top" src="{{data.thumbnail_url}}" alt="thmubnail" width="80%" height="80%" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">{{data.title}}</h5>
                            </div>
                            <ul class="list_test-wrap">
                            {% for recommend_hall_name in data.recommend_hall_name_list %}
                                <li class="list_test">{{ recommend_hall_name }}</li>
                            {% endfor %}
                            </ul>
                            <div class="heading-011 mt-3" >{{data.tommorow_jp_str_day}}の東京都<br>日別お勧め店舗過去三回平均差枚画像</div>
                            <img class="card-img-top" src="https://pachislo7.com/wp-content/uploads/top10_recommend_hall_name_{{data.post_slug }}.png" alt="{{data.tommorow_jp_str_day}}の東京都日別お勧め店舗画像" width="80%" height="80%" loading="lazy">
                            <div class="heading-011 mt-3" >{{data.tommorow_jp_str_day}}の東京都<br>旧イベ日過去三回平均差枚画像</div>
                            <img class="card-img-top" src="https://pachislo7.com/wp-content/uploads/old_event_day_hall_name_{{data.post_slug }}.png" alt="{{data.tommorow_jp_str_day}}の東京都旧イベ日過去三回平均差枚画像" width="80%" height="80%" loading="lazy">
                        </div>
                    </a>
                </div>
            </div>
            <h4 class="mt-3" >南関東の日別差枚順お勧め店舗記事一覧</h4>
            <ul class="top-btn2" style="list-style: none; padding: 0;  margin:0;">
                <li><a class="loading link-btn colorname1mt-1" href="/post_prefecture_list/tokyo">東京都一覧</a></li>
                <li><a class="loading link-btn colorname1mt-1" href="/post_prefecture_list/saitama">埼玉県一覧</a></li>
            </ul>


            <ul class="top-btn2" style="list-style: none; padding: 0;  margin:0;">
                <li><a class="loading link-btn colorname1mt-1" href="/post_prefecture_list/kanagawa">神奈川県一覧</a></li>
                <li><a class="loading link-btn colorname1mt-1" href="/post_prefecture_list/chiba">千葉県一覧</a></li>
            </ul>

            <h4 class="mt-3" >{{data.tommorow_jp_str_day}} 東京都のイベント一覧<br>(※差枚データのない店舗も表示中)</h4>
            <div class = 'heatmap .table-wrap'>
                <div class="scroll_area" style="width:100%;max-width:2000px;overflow-x:scroll;">
                    <table id="syuzai_table" class="table table-striped compact">
                        <thead>
                            <tr>
                                {% for col in data.display_report_df_column_names %}
                                <th>
                                {{col}}
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.display_report_df_row_data %}
                            <tr>
                                {% for col, row_ in zip(data.display_report_df_column_names, row) %}
                                    {% if col == '取材名' %}
                                        <td><a href="/tomorrow_recommend/minamikantou/syuzai/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '店舗名' %}
                                        <td><a href="/tomorrow_recommend/minamikantou/hall/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% elif col == '媒体名' %}
                                        <td><a href="/tomorrow_recommend/minamikantou/media/{{ row_ }}" >{{ row_ }}</a></td>
                                    {% else %}
                                        <td>{{row_}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="side col-lg-3">
            <div class="profile m-2 p-3 text-center mx-auto">
                <div class="navbar-brand">PROFILE</div>
                <img class="profile__img" src="/static/img/slomap_profile.jpg" loading="lazy" alt="profile-image">
                <div class="profile__name m-2">運営者:ないとー</div>
                <div class="profile__desc m-2">家の近くの取材がマップで見れたらいいなを形にしてみました。随時機能追加していきますので要望やバグなどありましたらご連絡はXのDMか<a href="/form">お問い合わせ</a>からよろしくお願いいたします。</div>
                <div><a href="https://twitter.com/slo_map" class="m-2 fa fa-twitter twitter-follow-button">@slo_map</a></div>
                <div><a href="/form" class="m-2 fa fa-envelope">お問い合わせ</a></div>
                <a href="/profile" class="m-2 "><div class="profile__desc m-2">プロフィールページ</div></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}